/* PHASE 1: Header */
body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  background-color: #eee;
}

.header {
  background-color: #f00;
  color: #fff;
  position: relative;
  z-index: 1;
}

.header-nav {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.header-logo {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-weight: 700;
  display: block;
}

.header-list {
  float: right;
}

.header-list > li  {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.header-logo:hover {
  background-color: black;
}

.header-list > li:hover {
  background-color: black;
}
