/* PHASE 7: Online */
.online {
  position: absolute;
  background-color: #0c0;
  color: #fff;
  top: 20px;
  transform: rotate(-45deg);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
